{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended"
  ],
  "rules": {
    "semi": [
      2,
      "always"
    ],
    "object-curly-spacing": 0,
    "@typescript-eslint/object-curly-spacing": [
      "error",
      "always",
      {
        "objectsInObjects": false
      }
    ]
  }
}
