#AlnylamLogo{
  background-image: url('../images/logos/Alnylam.png');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  height: 160px;
  width: 140px;
}

#RueGiltGroupeLogo{
  background-image: url('../images/logos/RueGiltGroupe.png');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
}

#GrubhubLogo{
  background-image: url('../images/logos/Grubhub.png');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  height: 110px;
  width: 110px;
}

#LevelUpLogo{
  background-image: url('../images/logos/LevelUp.png');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
}

#AmalgamLogo{
  height: 100px;
  width: 100px;
  background-image: url('../images/logos/Amalgam.svg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#LaunchLogo{
  height: 100px;
  width: 100px;
  background-image: url('../images/logos/Launch.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
