#launch{
  background-color: #F25EA2;

  a{
    position: relative;
    display: inline-block;
    outline: none;
    text-decoration: none;
    color: black;
    text-shadow: none;

    --opacity: 0.1;
    --normal: 300;
    --bold: 700;
    --duration: 250ms;
    --ease: cubic-bezier(0.22, 1, 0.36, 1);
  
    &:hover .char {
      opacity: var(--opacity);
      font-variation-settings: "wght" var(--normal);
      animation: step-sequence calc((var(--duration) / 1.5) * var(--char-total)) calc(var(--char-index) * calc(var(--duration) / 1.5)) steps(2, end) infinite;
    }
  
    @keyframes step-sequence {
      0% {
        opacity: 1;
        transform: translateY(-2px);
        font-variation-settings: "wght" var(--bold);
      }
      10%, 100% {
        opacity: var(--opacity);
        transform: translateY(0);
        font-variation-settings: "wght" var(--normal);
      }
    }
  }
}
