#alnylam.page
  .text-black.right-align-text
    %p
      I've made a return to biotech, working at 
      %a.twirl{href: "http://alnylam.com", target: "_blank", rel: "noreferrer", "data-splitting": true}Alnylam
      to develop internal tools for research and development.
  .logo#AlnylamLogo
