#alnylam.page
  .text-black.right-align-text
    %p
      I've made a return to biotech, working at 
      %a{href: "http://alnylam.com", target: "_blank", rel: "noreferrer"}Alnylam
      to develop internal tools for research and development.
  .logo#AlnylamLogo
