#amalgam.page
  .text-black.right-align-text
    %p
      Many, many summers ago, I had a brief stint at
      %a{href: "http://amalgam.co", target: "_blank", rel: "noreferrer"}Amalgam
      building websites from concepts.
  .logo#AmalgamLogo
