#amalgam.page
  .text-black.right-align-text
    %p
      Many summers ago, I had a brief stint at
      %a{href: "http://amalgam.co", target: "_blank", rel: "noreferrer"}Amalgam
      building simple websites with friends.
  .logo#AmalgamLogo
