#grubhub.page
  .text-black.right-align-text
    %p>
      And prior to that, I was a part of
      %a{href: "https://www.grubhub.com/", target: "_blank", rel: "noreferrer", "data-hover": "Grubhub"}Grubhub
      through an acquisition of a smaller company.
  .logo#GrubhubLogo
