!!! 5
%html
  %head
    %title dickson lau

    %meta{name: "Name", property: "name", content: "dickson lau"}
    %meta{name: "Description", property: "description", content: "software engineer. daydreamer. a real human being. woke as fuck."}
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    %meta{'http-equiv'=> 'Content-Type', content: 'text/html; charset=utf-8'}

    %link{rel: "stylesheet", type: 'text/css', href: "/stylesheets/home.css"}
    %link{rel: "stylesheet", href: "https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css"}
    %link{rel: "stylesheet", href: "https://unpkg.com/splitting/dist/splitting.css"}
    
    %script{src: "https://unpkg.com/splitting/dist/splitting.min.js"}
    %script{src: "javascript/ga.min.js"}
    %script{src: "javascript/jquery.min.js"}
    %script{src: "javascript/typed.min.js"}
    %script{src: "javascript/modernizr.min.js"}
    %script{src: "javascript/lazysizes.min.js", async: true}
  %body
    #sideNav
      .chapters
        %a.title{href: "#about"}about
        %a.title{href: '#alnylam'}bifxcodex
        %a.title{href: "#rgg"}team bemo
        %a.title{href: "#grubhub"}glubbleup
        %a.title{href: "#levelup"}platypod
        %a.title{href: "#amalgam"}dog days
        %a.title{href: "#launch"}origins
        %a.title{href: "#photography"}photography
        %a.title{href: "#contact"}contact
      .current-chapter
        %span about
        %span bifxcodex
        %span team bemo
        %span glubbleup
        %span platypod
        %span dog days
        %span origins
        %span photography
        %span contact
    .main-container
      = yield

    %a.cd-top.waves-effect.waves-red{href: "#0"}

    %script{src: "javascript/homesite.js"}
