#rgg.page
  .logo#RueGiltGroupeLogo
  .text-white.left-align-text
    %p
      Before that I built a lot of flashy shit for
      %a.rgg-link{href: "http://www.ruegiltgroupe.com/", target: "_blank", rel: "noreferrer"}Rue Gilt Groupe
      cranking out many features for
      %a.ruelala-link{href: "http://www.ruelala.com/", target: "_blank", rel: "noreferrer"}
        Rue La La
        - (1..50).each do |i|
          %span.particles-circle-rue
      and
      %a.gilt-link{href: "http://www.gilt.com/", target: "_blank", rel: "noreferrer"}
        Gilt
        - (1..50).each do |i|
          %span.particles-circle-gilt
      \.
